 /**log section */
 
 body {
     background-color: black;
 }
 
 .logo {
     text-align: center;
 }
 
 #img {
     width: 200px;
     height: 125px;
     transition: all .4s ease-out;
 }
 
 .pError,
 .pInfo,
 .pWarn {
     margin: 3px;
     font-size: 35px;
     flex-wrap: wrap;
     word-break: break-all;
     text-align: left;
 }
 
 .pError:hover,
 .pWarn:hover {
     animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
 }
 
 @keyframes shake {
     10%,
     90% {
         transform: translate3d(-1px, 0, 0);
     }
     20%,
     80% {
         transform: translate3d(2px, 0, 0);
     }
     30%,
     50%,
     70% {
         transform: translate3d(-4px, 0, 0);
     }
     40%,
     60% {
         transform: translate3d(4px, 0, 0);
     }
 }
 
 .pError {
     color: red;
 }
 
 .pInfo {
     color: lightgreen;
 }
 
 .pWarn {
     color: yellow;
 }
 
 .logger-container {
     display: flexbox;
     flex-direction: row;
     justify-content: center;
 }
 /**END: log section **/
 
 .grid {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .console {
     background-color: black;
 }
 
 .button {
     margin-left: 20px;
     font-size: 60px;
     background-color: black;
     color: red;
     transition: all .4s ease-out;
 }
 
 .button:hover {
     color: green;
     border-color: green;
 }
 
 .glowText {
     margin-left: 30px;
     text-align: center;
     font-size: 60px;
     color: white;
 }
 
 @keyframes glowText {
     from {
         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
     }
     to {
         text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
     }
 }
 
 .controls {
     font-size: 50px;
     border: solid 2px whitesmoke;
     margin: 10px;
     background-color: black;
     color: white;
 }
 
 .userInfo {
     font-size: 50px;
     border: solid 2px whitesmoke;
     margin: 10px;
     background-color: black;
     color: white;
 }
 
 .csvPicker {
     font-size: 50px;
     border: solid 2px whitesmoke;
     margin: 10px;
     background-color: black;
     color: white;
 }
 
 .inputs {
     width: 150px;
     height: 25px;
 }