<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel='stylesheet'>
    <link href="progress.css" rel='stylesheet'>
    <link href="words-creator.css" rel='stylesheet'>
    <script defer src="modal_script.js"></script>
    <script th:inline="javascript" src="get_send_word.js" defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="350756578349-jpl45eaclph4pkg57rj61i5s8gigsajf.apps.googleusercontent.com">
    <link href='https://fonts.googleapis.com/css?family=Goldman' rel='stylesheet'>
    <!-- injected -->
    <script src="injected_script.js" async></script>
    <link rel="stylesheet" href="injected.css">
    <title>WORDS GAME</title>
</head>

<body onload="checkLogin()">
    <header class="masthead">
        <h1>Test Your English Grammar</h1>
        <!--Login form -->
        <div id="login-container" class="login-container">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </header>


    <div class="label" id="inputLabel"><span id="translate">Login to start</span></div>


    <main class="main">
        <article class="intro">
            <button onclick="sendWord()" class="button1">Send</button>
            <button data-modal-target="#modal" class="button1">Show</button>
            <button onclick="location.href = '/create';" class="button1">CRUD</button>
        </article>

        <section class="test-area">
            <label for="myProgress" class="label">Progress</label>
            <div id="myProgress">
                <div id="myBar" class="indicatorBlack"></div>
            </div>
            <div class="test-wrapper">
                <textarea id="WordInput" name="answer" rows="6" placeholder="Type here."></textarea>
            </div>
        </section>

    </main>



    <!--use the modal-->
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Details</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body" id="modalBody">
            <p id="details" style="font-size: large;"></p>
            <br /><audio controls id="myAudio">
                <source type="audio/mpeg" src="">
            </audio>
        </div>
    </div>
    <div id="overlay"></div>



</body>

</html>