<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="logger.css" rel='stylesheet'>
    <script defer src="getLogger.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Goldman' rel='stylesheet'>
    <title>Logger page</title>
</head>

<body>
    <h1>[LOGGER]</h1>
    <button class="button" id="refresh">display</button>
    <button class="button" onclick="location.href = '/';" id="last">back</button>
    <div id="loggerContainer" class="logger-container"></div>
</body>

</html>