<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body onload="buildVariants()">

    <!--Form example for choosing variants-->

    <form action="/radioButtonVariants/radioButtonVariantFormAction" method="GET">

        <!-- <fieldset> element is a convenient way to create groups of widgets that share the same purpose, 
            for styling and semantic purposes. You can label a <fieldset> by including a <legend> element just below 
                the opening <fieldset> tag. The text content of the <legend> formally describes the purpose of the <fieldset> 
                    it is included inside.-->

        <fieldset>
            <legend>Please choose between variants</legend>
            <p id="variants"></p>
        </fieldset>
        <button type="submit">submit</button>
    </form>

    <script>
        /**   **/
        function buildVariants() {
            var data;
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "http://localhost:8080/funApi/getData", true);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(this.response); // will send object
                    console.log(data);
                    for (v of data) {
                        document.getElementById("variants").innerHTML += v;
                    }
                };
            }
            xhttp.send();
        }
    </script>

</body>

</html>