<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel='stylesheet'>
    <link href="table.css" rel='stylesheet'>
    <link href="logger.css" rel='stylesheet'>
    <link href="progress.css" rel='stylesheet'>
    <script th:inline="javascript">
        var user = /*[[${eMail}]]*/
            console.log(user);
    </script>
    <script defer src="modal_script.js"></script>
    <title>MAIN SCREEN</title>
</head>

<body onload="getWord()">



    <!--Input field with script for processing -->
    <script th:inline="javascript" src="get_send_word.js"></script>




    <div class="grid">

        <div class="console">
            <div class="glowText"><span id="translate">please download dictionary</span></div>
            <button onclick="sendWord()" class="sendButton">Send</button>
            <button data-modal-target="#modal" class="showAnswer">Show</button>
            <form id="downL" action="downloadFile" method="GET"></form>
            <button class="saveButton" form="downL" id="profile_csv_picker_save" type="submit" style="visibility: hidden;">Save</button>
            </form>
        </div>


        <fieldset class="controls">
            <legend>CONTROLS</legend>
            <label id='TranslateWarn' for="WordInput">enter translation: </label>
            <input id="WordInput" type="text" name="answer">
            <ul>
                <li>
                    <input onchange="getTable()" type="checkbox" name="power" id="power">
                    <label for="power"><span class="on">On table</span> <span class="off">Off table</span></label>
                </li>
            </ul>
            </p>
        </fieldset>

        <!-- Get new word for translate -->
        <fieldset class="userInfo">
            <legend>USER INFO</legend>
            <p>User: <span id="user"></span></p>
            <p>Progress: </p>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
        </fieldset>

        <!--CSV picker -->
        <fieldset id="CSV_picker" class="csvPicker">
            <legend>UPLOAD/SAVE FILE</legend>
            <form method="POST" action="uploadFile" enctype="multipart/form-data">
                <div>
                    <label for="eMail">Enter eMail</label>
                    <input type="email" id="profile_eMail" name="eMail">
                </div>
                <div>
                    <label for="aFile">Choose file to upload</label>
                    <input type="file" id="profile_csv_picker" name="aFile" accept=".csv">
                </div>
                <div>
                    <button id="profile_csv_picker_submit" type="submit">Submit</button>
                </div>
            </form>
        </fieldset>
    </div>

    <div id="tableBox">
        <script src="getTable.js"></script>
        <table class="myTable">
            <thead id="thad"></thead>
            <tbody id="tbod"></tbody>
        </table>
    </div>

    <!--use the modal-->
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Words details</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body" id="modalBody">
            <p id="details" style="font-size: large;"></p>
            <br /><audio controls id="myAudio">
                    <source type="audio/mpeg" src="">
                </audio>
        </div>
    </div>
    <div id="overlay"></div>

</body>

</html>