<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<style>
    table {
        border-collapse: inherit;
        width: 100%;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    th {
        background-color: #4CAF50;
        color: white;
    }
    
    .day-forecast {
        margin: 0;
        padding: .3rem;
        background-color: #eee;
        font: 1rem 'Fira Sans', sans-serif;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>WELCOME</h1>
    <!-- <img th:src="@{/images/Spring-Boot.png}"/> -->

    <h1>please translate: <span th:text="${wordTranslate.ukrword}"></span></span>
    </h1>

    <details style="font-size: 5;
    color:green;">
        <span th:text="${wordTranslate.ukrword}" /> - <span th:text="${wordTranslate.engword}" />
        <br/>
        <audio controls id="myAudio">
            <source type="audio/mpeg" th:src="${urla}">
        </audio>
        <br/>
    </details>


    <article class="day-forecast">
        <h2>User</h2>
        <p><span th:text="${user.name}" /></p>
    </article>
    <br/>
    <article class="day-forecast">
        <h2>Progress</h2>
        <p><span th:text="${info.progress}" /></p>
    </article>
    <br/>
    <article class="day-forecast">
        <h2>Words count</h2>
        <p><span th:text="${info.countOfWords}" /></p>
    </article>
    <br/>



    <div id="demo">
        <button type="button" onclick="loadTable()">Load/reload table</button>
        <button type="button" onclick="cleanTable()">Shutdown table</button>
    </div>

    <table id="wordsTable"></table>

    <script>
        /**Functional for cleaning and displaying table of words on the page**/
        function cleanTable() {
            document.getElementById('wordsTable').innerHTML = "";
        }

        function loadTable() {
            var result;
            var table;
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "http://localhost:8080/api/getTable", true);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    table = '<tr><th>ID</th><th>ENG</th><th>UKR</th><th>RATIO</th></tr>';
                    result = JSON.parse(this.response); // will send object
                    console.log(result);
                    for (obj of result) {
                        table = table + '<tr>';
                        for (prop in obj) {
                            table = table + `<th>${obj[prop]}</th>`;
                        }
                        table = table = table + '</tr>';
                    }
                    document.getElementById('wordsTable').innerHTML = table;
                }
            };
            xhttp.send();
        }
    </script>
</body>

</html>