<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="words-creator.css" rel='stylesheet'>
    <link href="table.css" rel='stylesheet'>
    <script src="getTable.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Goldman' rel='stylesheet'>
</head>

<body>
    <form method="post">
        <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="eng_word"><b>Word:</b></label>
            <input id="eng_word" type="text" placeholder="Enter english word" name="engword" required>

            <label for="ukr_word"><b>Translate:</b></label>
            <input id="ukr_word" type="text" placeholder="Enter translation" name="ukrword" required>

            <button type="submit">SAVE</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button onclick="location.href = '/';" type="button" class="cancelbtn">Cancel</button>
    </form>
    <button type="button" class="collapsible">Show words</button>
    <div class="content">
        <table class="myTable">
            <thead id="thad" class="table_head"></thead>
            <tbody id="tbod"></tbody>
        </table>
    </div>
</body>

</html>