<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="words-creator.css" rel='stylesheet'>
</head>
<form method="post">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="eng_word"><b>Word:</b></label>
        <input id="eng_word" type="text" placeholder="Enter english word" name="engword" required>

        <label for="ukr_word"><b>Translate:</b></label>
        <input id="ukr_word" type="text" placeholder="Enter translation" name="ukrword" required>

        <button type="submit">SAVE</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
    </div>
</form>

</html>