<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="words-creator.css" rel='stylesheet'>
    <link href="table.css" rel='stylesheet'>
    <script src="getTable.js" defer></script>
    <link href='https://fonts.googleapis.com/css?family=Goldman' rel='stylesheet'>
    <link href="style.css" rel='stylesheet'>
</head>

<body style="background-color: black;">
    <form method="post">
        <div class="console">
            <label for="eng_word"><b>Sentence:</b></label>
            <input id="eng_word" type="text" placeholder="Enter full sentence" name="engword" required>

            <label for="ukr_word"><b>Fragment:</b></label>
            <input id="ukr_word" type="text" placeholder="Enter fragment for recognizing" name="ukrword" required>

            <button type="submit" class="button1">SAVE</button>
            <button onclick="location.href = '/';" type="button" class="button1">Back</button>
            <button type="button" class="button1" id="showButton">Words</button>
            <button type="button" class="button1" id="deleteButton">Delete</button>
        </div>
    </form>
    <table class="myTable" id="myTable">
        <thead id="thad" class="table_head"></thead>
        <tbody id="tbod"></tbody>
    </table>
</body>

</html>